/sim/hp/lib
/sim/hp/*mif
/sim/hp/*ver
/sim/hp/wlft*
/sim/hp/*.wlf
src/gen/*

*PLLJ_PLLSPE_INFO.txt
*db
*greybox*
*output*
*incremental_db
*hps_isw_handoff
*reconfig_mif
*qsys_edit
*.sopcinfo
*.txt
*.csv
*.qdf
*.qws
sim/**/lib
*.ini
*.ppf
*.ddb
*.jdi
wlib
*.fv
!sim/hp/pcie_ip.fv
*.wlf
*.vstf
transcript
*.1
*_auto_stripped.stp
*.bak
*.err
*.ver
